#header{
  background-color:#aaa;
  width:100%;
}
#main{
  display:flex;
  width:100%;
  /*height:100%;*/
}
#footer{
  background-color:#ddd;
  width:100%;
}

#left{
  width:20%;
  height:100%;
}
#center{
  width:60%;
  height:100%;
}
#right{
  width:20%;
  height:100%;
}

#twitter{
  display:flex;
}
#github{
  display:flex;
}
#pixiv{
  display:flex;
}

#logo{
  width:5em;
  height:5em;
}

#self_introduction p{
  font-size:150%;
}

#footer{
  text-align:center;
}

#logo div{
  display:block;
}

#accounts{
  border:20px double #000;
}
